coremods/
crash-reports/
defaultconfigs/
downloads/
logs/
saves/
screenshots/
server-resource-packs/
command_history.txt
options.txt
usercache.json
usernamecache.json
versions/
libraries/
assets/
launcher_profiles.json
tlauncher_profiles.json
servers.dat
servers.dat.bak
